.card-hero {
  background-color: #ee171f;
  display: flex;
  height: 20vh;
  margin-top: 1vh;
  padding: 4px;
}

.card-hero img {
  width: 20vh;
}

.card-hero div {
  background-color: #ee171f;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.card-hero span:first-child {
  background-color: white;
  color: red;
  padding-left: 4px;
}

.card-hero span:last-child {
  height: 100%;
  font-size: 0.8em;
  padding-left: 4px;
}
